/* Write your code here. */
list-item {
  margin-top: 20px;
  margin-right: 20px;
}
.small-img {
  height: 80px;
  width: 80px;
  border-radius: 12px;
}
.button {
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}
